
/* App.js */

#app-wrapper {
  background-color:#657287;
  min-height: 1000px;
}

/* Navbar.js */

#navbar-wrapper {
  padding-bottom: 2%;
}

/* Login.js */

#login-wrapper {
  padding-left: 2%
}

/* Dashboard.js */

#dashboard-explore-container{
  /* min-height: 200px; */
}

.dashboard-width-fill{
  width: 100%;
}

.dashboard-height-fill{
  height: 100%;
}

.dashboard-card-min-height{
  min-height: 200px;
}

#dashboard-main {
  min-height: 1100px;
}

/* Newsfeed.js */

#newsfeed-wrapper{
  /* background: red; */
  max-height: 840px;
  height: 100%;
  width: 100%;
  overflow: scroll;
  padding: 2%;
}

/* Data.js */

#data-wrapper{
  height: 500px;
  width: 100%;
  padding: 2%;
}

/* ETC */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#dashboard-container{
  padding: 2%;
}

#dashboard-my-books {
  min-height: 300px;
}